{% extends 'shop/base.html' %}

{% block title %}
    Страница группы
{% endblock %}

{% block content %}
<form class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">

            <table class="table bg-white rounded border">
                <thead>
                    <tr class="align-middle text-center">
                        <th scope="col" class="">#</th>
                        <th scope="col" class="">Фамилия</th>
                        <th scope="col" class="">Имя</th>
                        <th scope="col" class="">Отчество</th>
                        <th scope="col"></th>
                        {% if user.is_staff %}
                            <th scope="col"><a href="/Group/StudentAddPage?id=@Model.id" class="btn btn-outline-dark p-1">Добавить</a></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for elem in model %}
                            <tr class="col-12 align-middle text-center">
                                <th class="">{{ forloop.counter }}</th>
                                <td class="col-4 ">{{ elem.user_id.surname }}</td>
                                <td class="col-4 ">{{ elem.user_id.name }}</td>
                                <td class="col-4 ">{{ elem.user_id.patronymic }}</td>
                                {% if user.is_staff %}
                                    <td class="col-2 "><a href="{% url 'profile' elem.user_id.pk %}" class="btn btn-outline-dark p-1">Профиль</a></td>
                                    <td class="col-2 "><a href="{% url 'delete_student' elem.pk %}" class="btn btn-outline-dark p-1">Удалить</a></td>
                                {% else %}
                                    <td class="col-2 "></td>
                                    <td class="col-2 "></td>
                                {% endif %}
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>

{% endblock %}