{% extends 'shop/base.html' %}

{% block title %}
  Инструктора
{% endblock %}

{% block content %}
    <main>
            <section class="py-3 text-center container">
                <div class="row py-lg-3">
                    <div class="col-lg-6 col-md-8 mx-auto ">
                        <h1 class="">Инструктора</h1>
                    <p class="lead text-dark">В нашей автошколе работают только опытные и вежливые водители, которые будут рады новым ученикам и научат каждого!</p>
                    </div>
                </div>
            </section>
        {% if user.is_staff %}
        <div class="py-2 text-end">
            <a class="btn btn-success mx-5" href="{% url 'instructor_add' %}">Добавить</a>
        </div>
        {% endif %}
            <section class="py-5">
                <div class="container">
                    <div class="row row-cols-md-3  justify-content-center">
                        {% for elem in instructor %}
                        <div class="col mb-5">
                            <div class="card h-100">
                            {% if elem.user_id.photo == '' %}
                                    <img class="card-img-top"  height="300" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
                            {% else %}
                                    <img class="card-img-top"  height="300" src="{{ elem.user_id.photo.url }}" alt="...">
                            {% endif %}
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <strong>
                                                {{ elem.user_id.surname }}
                                                {{ elem.user_id.name }}
                                                {{ elem.user_id.patronymic }}
                                            </strong>
                                            <p>
                                                <strong>Телефон:</strong> {{ elem.user_id.phone }}; <br>
                                                <strong>Email:</strong> {{ elem.user_id.email }}; <br>
                                                <strong> Стаж:</strong> {{ elem.driving_experience }};
                                                <strong>Номер машины</strong> {{ elem.car_id.number }};
                                            </p>
                                    </div>
                                    </div>
                                {% if user.is_staff %}
                                    <form class="d-flex justify-content-between align-items-center">
                                        <a href="profile/{{ elem.id }}" class="btn btn-outline-dark mb-2 ms-2">Профиль</a>
                                        <a href="delete/{{ elem.id }}/" class="btn btn-outline-dark mb-2 me-2" >Удалить</a>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
{% endblock %}